{% extends 'public/theme.html.twig' %}
{% block title %}{{ ' · Resetowanie hasła' | trans }}{% endblock %}
{% block body %}
    <div class="container-fluid h-100">
      <div class="row h-100">
        
        {% block images %}{{ parent() }}{% endblock %}

        <div class="col-sm-12 col-md-12 col-lg-4 d-md-block c-two">
            <div class="c-two-text text-black">
                <h1>{{ 'Nie pamiętasz hasła?' | trans }}</h1>
                <h2>{{ 'Nie przejmuj się, wyślemy Ci nowe ' | trans }}</h2>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-7 c-three">
            <form class="form-signin text-center" action="{{ path("security_password_reset") }}" method="post">
                {% if success_email_reset is defined %}
                    <div id="hideMessage" class="text-left alert alert-success alert-dismissible fade show" role="alert">
                        <i class="fas fa-check-circle"></i> <strong>{{ 'Sukces!' | trans }}</strong> <br> {{ 'Hasło do Twojego konta zostało zresetowane!' | trans }}<br>{{ 'Nowe hasło zostało wysłane na Twój adres e-mail.' | trans }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group text-left">
                            <label for="inputEmail" class="sr-only">{{ 'Adres e-mail' | trans }}*</label>
                            <input type="email" name="new_email" id="inputEmail" class="form-control 
                            {% if error_email_1 is defined %}invalid{% endif %}
                            {% if error_email_2 is defined %}invalid{% endif %}
                            {% if error_email_3 is defined %}invalid{% endif %}
                            {% if error_email_4 is defined %}invalid{% endif %}" placeholder="{{ 'Adres e-mail' | trans }}*" required />
                            {% if error_email_1 is defined %}
                                <div class="invalid-feedback" style="display:block">{{ 'Uzupełnij pole.' | trans }}</div>
                            {% endif %}
                            {% if error_email_2 is defined %}
                                <div class="invalid-feedback" style="display:block">{{ 'Podaj poprawny adres e-mail.' | trans }}</div>
                            {% endif %}
                            {% if error_email_3 is defined %}
                                <div class="invalid-feedback" style="display:block">{{ 'Nie ma takiego użytkownika.' | trans }}</div>
                            {% endif %}
                            {% if error_email_4 is defined %}
                                <div class="invalid-feedback" style="display:block">{{ 'Hasło można resetować raz na godzinę.' | trans }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">
                        <button class="btn btn-lg btn-dark btn-block" type="submit">{{ 'Zmień hasło' | trans }}</button>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-4 mb-2">
                        <p class="mb-3"><small>{{ 'Pamiętasz swoje hasło?' | trans }} <a href="{{ path('security_login') }}" class="lookLink" title="{{ 'Zaloguj się' | trans }}"> {{ 'Zaloguj się.' | trans }}</a></small></p>
                    </div>                         
                </div>      
            </form>
        </div>
      </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">setTimeout(function() {$('#hideMessage').fadeOut('fast');}, 5000);</script>
{% endblock %}