{% extends 'private/theme.html.twig' %}
{% block title %}{{ 'Ustawienia' | trans }}{% endblock %}
{% block body %}
	{% block header %}{{ parent() }}{% endblock %}
    <div class="container my-md-4">
        <div class="row">
            {% block menu %}{{ parent() }}{% endblock %}
            <div class="col-12 col-sm-12 col-md-7 col-lg-8 col-xl-9">
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-8 mt-2 order-sm-last order-lg-frist">
                        <div class="bd-content">

                        	{% if info_success is defined %}
			                    <div id="hideMessage" style="display: block;">
	                                <div class="alert alert-success" role="alert">
	                                    <h6 class="alert-heading">{{ 'Sukces!' | trans }}</h6>
	                                    <hr>
	                                    <span class="alert-text">{{ 'Pomyślnie zapisano ustawienia konta.' | trans }}</span>
	                                </div>
	                            </div>
			                {% endif %}

			                {% if info_send_token is defined %}
			                    <div id="hideMessage" style="display: block;">
	                                <div class="alert alert-success" role="alert">
	                                    <h6 class="alert-heading">{{ 'Sukces!' | trans }}</h6>
	                                    <hr>
	                                    <span class="alert-text">{{ 'Ponownie wysłano na Twój adres email link aktywacyjny.' | trans }}</span>
	                                </div>
	                            </div>
			                {% endif %}

			                {% if info_error_token is defined %}
			                    <div id="hideMessage" style="display: block;">
                                    <div class="alert alert-danger" role="alert">
                                        <h6 class="alert-heading">{{ 'Błąd!' | trans }}</h6>
                                        <hr>
                                        <span class="alert-text">{{ 'Link akrywacyjny nie został wysłany. Skontaktuj się z administracją.' | trans }}</span>
                                    </div>
                                </div>
			                {% endif %}

                        	{% if userSettings %}
	                            <div class="bd-example mt-2 mb-4">
	                                <form class="position-relative me-auto" action="{{ path('settings') }}" enctype="multipart/form-data" method="POST">
					                    
					                    <h6 class="mb-3">Ustawienia aplikacji</h6>

					                    {#<div class="form-check form-switch mb-3">
					                      	<label for="emailNotifications" class="form-label">Powiadomienia na e-mail</label>
					                      	<input class="form-check-input" type="checkbox" name="emailNotifications" id="emailNotifications" {% if userSettings.emailNotifications == "1" %} checked {% endif %}>
					        			</div>#}

					                    <div class="form-check form-switch mb-3">
					                    	<label for="darkTheme" class="form-label">Włącz ciemny motyw</label>
					                      	<input class="form-check-input" type="checkbox" name="darkTheme" id="darkTheme" {% if userSettings.darkTheme == "1" %} checked {% endif %}>
					                    </div>

					                    <div class="form-check form-switch mb-3">
					                      	<label for="nickShow" class="form-label">Pokazuj moje imię i nazwisko zamiast nicku</label>
					                      	<input class="form-check-input" type="checkbox" name="nickShow" id="nickShow" {% if userSettings.nickShow == "1" %} checked {% endif %}>
					        			</div>

					        			<div class="form-check form-switch mb-3">
					                    	<label for="spoiler" class="form-label">Pokazuj wpisy oznaczone jako SPOILER</label>
					                    	<a tabindex="0"role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content="{{ 'Wpisy mogą zawierać spoilery.' | trans }}">
                                                <i class="fas fa-info-circle"></i>
                                            </a>
					                      	<input class="form-check-input" type="checkbox" name="spoiler" id="spoiler" {% if userSettings.spoiler == "1" %} checked {% endif %}>
					                    </div>

					                    <div class="form-check form-switch mb-3">
					                    	<label for="nsfw" class="form-label">Pokazuj wpisy oznaczone jako NSFW</label>
					                    	<a tabindex="0"role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content="{{ 'Oznacza niebezpieczne w miejscu publicznym. Wpisy mogą zawierać treści erotyczne, hard itp.' | trans }}">
                                                <i class="fas fa-info-circle"></i>
                                            </a>
					                      	<input class="form-check-input" type="checkbox" name="nsfw" id="nsfw" {% if userSettings.nsfw == "1" %} checked {% endif %}>
					                    </div>

					                    <div class="mb-3">
					                    	<label for="availability" class="form-label">Publikowany wpis ma być z góry</label>
	                                        <select name="availability" class="form-select" id="availability">
	                                            <option value="0" {% if userSettings.availability == "0" %} selected {% endif %}>Publiczny</option>
	                                            {#<option value="1" {% if userSettings.availability == "1" %} selected {% endif %}>Tylko obserwatorzy</option>#}
	                                            <option value="2" {% if userSettings.availability == "2" %} selected {% endif %}>Prywatny</option>
	                                        </select>
										</div>

					                    <div class="mb-4">
					                    	<label for="accountType" class="form-label">Konto należy do</label>
										  	<select name="accountType" class="form-select" id="accountType">
										    	<option value="0" {% if userSettings.accountType == "0" %} selected {% endif %}>Osoby prywatnej</option>
					                          	<option value="1" {% if userSettings.accountType == "1" %} selected {% endif %}>Osoby publicznej</option>
					                          	<option value="2" {% if userSettings.accountType == "2" %} selected {% endif %}>Firmy lub instytucji</option>
										  	</select>
										</div>

					                    <h6 class="mb-3">Informacje o użytkowniku</h6>
					                    
					                    <div class="mb-3">
										  	<label for="nickUser" class="form-label">Nick ({{ 'nie można go zmienić' | trans }})*</label>
										  	<input type="text" class="form-control" id="nickUser" placeholder="{{ userNick }}" disabled required>
										</div>

										<div class="mb-3">
										  	<label for="nameUser" class="form-label">Imię ({{ 'może się składać z dużych i małych liter od 1 do 20 znaków' | trans }})*</label>
										  	<input type="text" class="form-control 
										  	{% if error_name_1 is defined %}invalid{% endif %}
                            				{% if error_name_2 is defined %}invalid{% endif %}" name="nameUser" id="nameUser" value="{{ userName }}" pattern="^[a-zA-ZąćęłńóśźżĄĆĘŁŃÓŚŹŻ]{1,20}$" required>
										  	{% if error_name_1 is defined %}
				                                <div class="invalid-feedback" style="display:block">{{ 'Uzupełnij pole.' | trans }}</div>
				                            {% endif %}
				                            {% if error_name_2 is defined %}
				                                <div class="invalid-feedback" style="display:block">{{ 'Imię może się składać z dużych i małych liter od 1 do 20 znaków.' | trans }}</div>
				                            {% endif %}
										</div>

										<div class="mb-3">
										  	<label for="surnameUser" class="form-label">Nazwisko ({{ 'może się składać z dużych i małych liter od 1 do 20 znaków' | trans }})*</label>
										  	<input type="text" class="form-control 
										  	{% if error_surname_1 is defined %}invalid{% endif %}
                            				{% if error_surname_2 is defined %}invalid{% endif %}" name="surnameUser" id="surnameUser" value="{{ userSurname }}" pattern="^[a-zA-ZąćęłńóśźżĄĆĘŁŃÓŚŹŻ]{1,20}$" required>
										  	{% if error_surname_1 is defined %}
				                                <div class="invalid-feedback" style="display:block">{{ 'Uzupełnij pole.' | trans }}</div>
				                            {% endif %}
				                            {% if error_surname_2 is defined %}
				                                <div class="invalid-feedback" style="display:block">{{ 'Nazwisko może się składać z dużych i małych liter od 1 do 20 znaków.' | trans }}</div>
				                            {% endif %}
										</div>

										<div class="mb-3">
					                    	<label for="sexUser" class="form-label">Płeć*</label>
	                                        <select name="sexUser" class="form-select" id="sexUser">
	                                            <option value="0" {% if userSex == "0" %} selected {% endif %}>Mężczyzna</option>
	                                            <option value="1" {% if userSex == "1" %} selected {% endif %}>Kobieta</option>
	                                        </select>
										</div>

										<div class="mb-3">
										  	<label for="message_body_0" class="form-label">O mnie</label>
	                                        <textarea class="form-control rounded-3 
	                                        {% if info_error_long_text is defined %}invalid{% endif %}" name="userDescription" id="message_body_0" style="height: 100px" onkeyup="checkWordLen(this, 0);">{{ userSettings.userDescription }}</textarea>
											<span class="words-info words-left-0">279 słów pozostało</small></span>
											{% if info_error_long_text is defined %}
												<div class="invalid-feedback" style="display:block">{{ 'Zbyt długi tekst. Maksymalna ilość słów to 279.' | trans }}</div>
							                {% endif %}
										</div>

										<div class="mb-3">
											{% if userAvatar == "null" %}
	                                        	<label for="avatar" class="form-label">Dodaj awatar</label>
	                                        	<a tabindex="0"role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content="{{ 'Maksymalny rozmiar pliku to 5MB. Dozwolone formaty to jpg, jpeg i png.' | trans }}">
                                                    <i class="fas fa-info-circle"></i>
                                                </a>
	                                        	<input class="form-control form-control-sm formFile" name="avatar" id="avatar" type="file" accept="image/jpeg, image/png">
	                                        {% else %}
	                                        	<label class="form-label">Aktualny awatar</label>
	                                        	<div class="mb-3">
	                                        		<input type="checkbox" class="btn-check" id="deleteAvatar" name="deleteAvatar" autocomplete="off">
													<label class="btn btn-primary btn-sm" for="deleteAvatar" onclick="submitButtonStyle1(this)">Usuń awatar</label>
	                                        	</div>
	                                        	<div class="card" style="width: 50%;"><div class="card-top" style="background-image: url(tmp/users/{{userAvatar}});"></div></div>	
	                                        {% endif %}
	                                        {% if info_error_file2_size is defined %}
	                                        	<div class="invalid-feedback" style="display:block">{{ 'Za duża waga pliku.' | trans }}</div>
							                {% endif %}
							                {% if info_error_file2_bad_format is defined %}
							                    <div class="invalid-feedback" style="display:block">{{ 'Zły format pliku. Prawidłowy to JPG, JPEG lub PNG.' | trans }}</div>
							                {% endif %}
							                {% if info_error_file2 is defined %}
							                	<div class="invalid-feedback" style="display:block">{{ 'Wystapił błąd podczas przesyłania pliku. Sprubój ponownie za chwilę.' | trans }}</div>
							                {% endif %}
	                                    </div>

	                                    <div class="mb-3">
											{% if userBackground == "null" %}
	                                        	<label for="background" class="form-label">Dodaj zdjęcie w tle</label>
	                                        	<a tabindex="0"role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content="{{ 'Maksymalny rozmiar pliku to 5MB. Dozwolone formaty to jpg, jpeg i png.' | trans }}">
                                                    <i class="fas fa-info-circle"></i>
                                                </a>
	                                        	<input class="form-control form-control-sm formFile" name="background" id="background" type="file" accept="image/jpeg, image/png">
	                                        {% else %}
	                                        	<label class="form-label">Aktualne zdjęcie w tle</label>
	                                        	<div class="mb-3">
	                                        		<input type="checkbox" class="btn-check" id="deleteBackground" name="deleteBackground" autocomplete="off">
													<label class="btn btn-primary btn-sm" for="deleteBackground" onclick="submitButtonStyle2(this)">Usuń tło</label>
	                                        	</div>
	                                        	<div class="card"><div class="card-top" style="background-image: url(tmp/users/{{userBackground}});"></div></div>	
	                                        {% endif %}
	                                        {% if info_error_file_size is defined %}
	                                        	<div class="invalid-feedback" style="display:block">{{ 'Za duża waga pliku.' | trans }}</div>
							                {% endif %}
							                {% if info_error_file_bad_format is defined %}
							                    <div class="invalid-feedback" style="display:block">{{ 'Zły format pliku. Prawidłowy to JPG, JPEG lub PNG.' | trans }}</div>
							                {% endif %}
							                {% if info_error_file is defined %}
							                	<div class="invalid-feedback" style="display:block">{{ 'Wystapił błąd podczas przesyłania pliku. Sprubój ponownie za chwilę.' | trans }}</div>
							                {% endif %}
	                                    </div>
					
					                    <div class="mb-3">
										  	<label for="emailUser" class="form-label">Adres email przypisany do konta ({{ 'nie można go zmienić' | trans }})*</label>
										  	<input type="email" class="form-control" id="emailUser" placeholder="{{ userEmail }}" disabled required>
										</div>

					                    {#<div class="mb-4">
					                    	<label for="phoneUser" class="form-label">Numer telefonu przypisany do konta (w formacie 123-456-789)*</label>
										  	<input type="phone" class="form-control 
										  	{% if error_phone_1 is defined %}invalid{% endif %}
                            				{% if error_phone_2 is defined %}invalid{% endif %}" name="phoneUser" id="phoneUser" value="{{ userPhone }}" pattern="\d{3}[\-]\d{3}[\-]\d{3}" required>
										  	{% if error_phone_1 is defined %}
				                                <div class="invalid-feedback" style="display:block">{{ 'Uzupełnij pole.' | trans }}</div>
				                            {% endif %}
				                            {% if error_phone_2 is defined %}
				                                <div class="invalid-feedback" style="display:block">{{ 'Podaj poprawny numer telefonu, np. 123-456-789.' | trans }}</div>
				                            {% endif %}
										</div>#}

										<h6 class="mb-3">Zmiana hasła</h6>
					                    
					                    <div class="mb-3">
										  	<label for="user_password" class="form-label">Hasło (minimum 8 znaków)*</label>
										  	<input type="password" class="form-control 
										  	{% if error_password_1 is defined %}invalid{% endif %}
				                            {% if error_password_3 is defined %}invalid{% endif %}
				                            {% if error_password_4 is defined %}invalid{% endif %}
										  	" name="user_password" id="user_password" pattern=".{8,}">
										  	{% if error_password_1 is defined %}
				                                <div class="invalid-feedback" style="display:block">{{ 'Uzupełnij pole.' | trans }}</div>
				                            {% endif %}
				                            {% if error_password_3 is defined %}
				                                <div class="invalid-feedback" style="display:block">{{ 'Podane hasła są różne.' | trans }}</div>
				                            {% endif %}
				                            {% if error_password_4 is defined %}
				                                <div class="invalid-feedback" style="display:block">{{ 'Podane hasło jest za krótkie.' | trans }}</div>
				                            {% endif %}
										</div>

										<div class="mb-3">
										  	<label for="user_password_reply" class="form-label">Powtórz hasło*</label>
										  	<input type="password" class="form-control 
										  	{% if error_password_2 is defined %}invalid{% endif %}
                            				{% if error_password_3 is defined %}invalid{% endif %}
                            				{% if error_password_4 is defined %}invalid{% endif %}" name="user_password_reply" id="user_password_reply" pattern=".{8,}">
										  	{% if error_password_2 is defined %}
				                                <div class="invalid-feedback" style="display:block">{{ 'Uzupełnij pole.' | trans }}</div>
				                            {% endif %}
				                            {% if error_password_3 is defined %}
				                                <div class="invalid-feedback" style="display:block">{{ 'Podane hasła są różne.' | trans }}</div>
				                            {% endif %}
				                            {% if error_password_4 is defined %}
				                                <div class="invalid-feedback" style="display:block">{{ 'Podane hasło jest za krótkie.' | trans }}</div>
				                            {% endif %}
										</div>

					                    <button type="submit" class="btn btn-primary btn-sm">Zapisz zmiany</button>
					                </form>
	                            </div>
                            {% else %}
                            	<div class="alert alert-normal ms-2 me-2" role="alert">
                                    <span class="alert-text">{{ 'Nie możemy wyświetlić Twoich ustawień.. Spróbuj ponownie później.' | trans }}</span>
                                </div>	
                            {% endif %}

                        </div>
                    </div>

                	{% if userSettings.avatar == "null" %}
                        {% set avatarUrl = "https://localhost:8000/tmp/images/basic_avatar.png" %}
                    {% else %}
                        {% set avatarUrl = "https://localhost:8000/tmp/users/" %}
                        {% set avatarUrl = avatarUrl ~ userSettings.avatar %}
                    {% endif %}

                	<div class="col-12 col-sm-12 col-lg-4 mb-4 order-sm-frist order-lg-last">
                        {#<div class="_1G4yU68P50vRZ4USXfaceV _2QeqBqfT5UbHBoViZUt-wX mt-widget" data-redditstyle="true">
                            <div class="TmgZY6tDcdErbE5d7E0HJ">
                                <div class="hpxKmfWP2ZiwdKaWpefMn"></div>
                                <div class="_20Kb6TX_CdnePoT8iEsls6 t9oUK2WY0d28lhLAh3N5q">
                                    <div class="_2KqgQ5WzoQRJqjjoznu22o" style="background: url({{ avatarUrl }}) 0% 60% / 80px 90px; height: 80px; width: 90px;"></div>
                                    <div class="_2TC7AdkcuxFIFKRO_VWis8 pt-3 pb-3">
                                        <span class="_19bCWnxeTjqzBElWZfIlJb">{{ 'Odtwórz swój realny wygląd lub puść wodze fantazji i utwórz własny, unikalny awatar.' | trans }}</span>
                                    </div>
                                </div>
                                <div data-redditstyle="true" class="_1EPynDYoibfs7nDggdH7Gq">
                                    <div class="_1zPvgKHteTOub9dKkvrOl4"></div>
                                </div>
                                <div class="_1qiHDKK74j6hUNxM0p9ZIp text-center">
                                    <a href="#" class="btn btn-md btn-go2 btn-block rounded-pill wkrotce1 disabled">{{ 'Edytuj swój awatar' | trans }}</a>
                                </div>
                            </div>
                        </div>#}
                        {% set userAccountActivation = 0 %}
                        {% set userAccountVerification = 0 %}
                        {% if usersList %}
                            {% for user in usersList %}
                                {% if user.id == globalIdUser %}
                                    {% set userAccountActivation = user.activated %}
                                    {% set userAccountVerification = user.verification %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if userAccountActivation == 0 %}
                            <div class="_1G4yU68P50vRZ4USXfaceV _2QeqBqfT5UbHBoViZUt-wX mt-4" data-redditstyle="true">
                                <div class="TmgZY6tDcdErbE5d7E0HJ">
                                    <div class="hpxKmfWP2ZiwdKaWpefMn"></div>
                                    <div class="_20Kb6TX_CdnePoT8iEsls6 t9oUK2WY0d28lhLAh3N5q">
                                        <div class="_2TC7AdkcuxFIFKRO_VWis8 pt-5 pb-3">
                                            <span class="_19bCWnxeTjqzBElWZfIlJb">{{ 'Aktywuj swoje konto, by móc w pełni korzystać z portalu.' | trans }}</span>
                                        </div>
                                    </div>
                                    <div class="_1qiHDKK74j6hUNxM0p9ZIp text-center">
                                        <a href="{{ path('send_activation_link') }}" class="btn btn-md btn-go2 btn-block rounded-pill">{{ 'Wyślij link aktywacyjny' | trans }}</a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if userAccountVerification == 0 %}
	                        <div class="_1G4yU68P50vRZ4USXfaceV _2QeqBqfT5UbHBoViZUt-wX mt-4" data-redditstyle="true">
	                            <div class="TmgZY6tDcdErbE5d7E0HJ">
	                                <div class="hpxKmfWP2ZiwdKaWpefMn"></div>
	                                <div class="_20Kb6TX_CdnePoT8iEsls6 t9oUK2WY0d28lhLAh3N5q">
	                                    <div class="_2TC7AdkcuxFIFKRO_VWis8 pt-5 pb-3">
	                                        <span class="_19bCWnxeTjqzBElWZfIlJb">{{ 'Aby zweryfikować swoje konto i otrzymać specjalną odznakę należy skontaktować się z administracją portalu.' | trans }}</span>
	                                    </div>
	                                </div>
	                                <div class="_1qiHDKK74j6hUNxM0p9ZIp text-center">
	                                    <a href="mailto:kontakt@azilla.pl" class="btn btn-md btn-go2 btn-block rounded-pill">{{ 'kontakt@azilla.pl' | trans }}</a>
	                                </div>
	                            </div>
	                        </div>
                        {% endif %}

                        {% block ad_1 %}{{ parent() }}{% endblock %}
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}{{ parent() }}{% endblock %}