{# single post #}

{% extends 'private/theme.html.twig' %}

{% block title %}{{singlePost.title}}{% endblock %}

{% block body %}

	{% block header %}{{ parent() }}{% endblock %}

    <div class="container my-md-4">
        <div class="row">
            
            {% block menu %}{{ parent() }}{% endblock %}

            <div class="col-12 col-sm-12 col-md-7 col-lg-8 col-xl-9">
                <div class="row">

                    <div class="col-12 col-sm-12 col-lg-8 order-sm-last order-lg-frist">
                        <div class="bd-content">

                            {% if info_success is defined %}
                                <div id="hideMessage" style="display: block;">
                                    <div class="alert alert-success" role="alert">
                                        <h6 class="alert-heading">{{ 'Sukces!' | trans }}</h6>
                                        <hr>
                                        <span class="alert-text">{{ 'Pomyślnie dodano komentarz.' | trans }}</span>
                                    </div>
                                </div>
                            {% endif %}

                            {% if info_error_long_text is defined %}
                                <div id="hideMessage" style="display: block;">
                                    <div class="alert alert-danger" role="alert">
                                        <h6 class="alert-heading">{{ 'Błąd!' | trans }}</h6>
                                        <hr>
                                        <span class="alert-text">{{ 'Nieprawidłowa długość tekstu. Ilość słów musi być między 1 a 279.' | trans }}</span>
                                    </div>
                                </div>
                            {% endif %}

                            {% if info_spamstop is defined %}
                                <div id="hideMessage" style="display: block;">
                                    <div class="alert alert-danger" role="alert">
                                        <h6 class="alert-heading">{{ 'Uwaga!' | trans }}</h6>
                                        <hr>
                                        <span class="alert-text">{{ 'Możesz dodać kolejny komentarz za około 30 sekund.' | trans }}</span>
                                    </div>
                                </div>
                            {% endif %}

                            <a href="javascript: window.history.go(-1)" class="btn btn-back p-3 mb-4 mt-4">
                                <i class="fas fa-long-arrow-alt-left"></i> Powrót
                            </a>

                            {% if singlePost %}
                                {% set userAccountActivation = "" %}
                                {# Jeśli to jest post zawierający spoiler, nsfw lub user jest zablokowany - to nie wyswietli #}
                                {% set countPost = 0 %}
                                {% if ( (singlePost.spoiler == 1) and (activeUsersSettings.spoiler == 0) ) or ( (singlePost.nsfw == 1) and (activeUsersSettings.nsfw == 0) ) %}
                                    {% set postBlocked = 1 %}
                                {% else %}
                                    {% set postBlocked = 0 %}
                                    {% set countPost = countPost + 1 %}
                                {% endif %}

                                {% for single in blockedUsersSwitchList %}
                                    {% if single.idUserA == singlePost.idAuthor %}
                                        {% set postBlocked = 1 %}
                                    {% endif %}
                                {% endfor %}

                                {% for single in blockedUsersSwitchList2 %}
                                    {% if single.idUserB == singlePost.idAuthor %}
                                        {% set postBlocked = 1 %}
                                    {% endif %}
                                {% endfor %}

                                {% if postBlocked == 0 %}
                                    <div id="post_{{ singlePost.id }}" class="post bd-example">
                                        <div class="row">
                                            <div class="col-6">
                                                {% if usersList %}
                                                    {% for user in usersList %}
                                                        {% if user.id == globalIdUser %}
                                                            {% set userAccountActivation = user.activated %}
                                                        {% endif %}
                                                        {% if user.id == singlePost.idAuthor %}

                                                            {% if usersSettings %}
                                                                {% for settings in usersSettings %}
                                                                    {% if settings.idUser == singlePost.idAuthor %}

                                                                            {% if settings.avatar == "null" %}
                                                                                {% set avatarUrl = "../../tmp/images/basic_avatar.png" %}
                                                                            {% else %}
                                                                                {% set avatarUrl = "../../tmp/users/" %}
                                                                                {% set avatarUrl = avatarUrl ~ settings.avatar %}
                                                                            {% endif %}

                                                                            {% if settings.nickShow == 1 %}
                                                                                {% set userName = user.name ~ " " ~ user.surname %}
                                                                            {% else %}
                                                                                {% set userName = user.nick %}
                                                                            {% endif %}

                                                                            <div class="_2jJNpBqXMbbyOiGCElTYxZ">
                                                                                <a class="_2E_zUw3OUkCKUFrIQwE894" href="{{ path('user_stream', {'user_nick':user.nick|lower}) }}">
                                                                                    <div class="efdkOLo3oigH_95whTYCp">
                                                                                        <div class="_1cyAeeYDGrx7MPL_jRwKZ _1cvAFWcyUe8hsdIpCmJP0W">
                                                                                            <div class="_2_QqG5dG916znjlVV8ZCbw"></div>
                                                                                            <div class="_1XJXnCAngvZLEeLpB3oa4L3">
                                                                                                <img alt="User avatar" class="ScrrUjzznpAqm92uwgnvO" src="{{avatarUrl}}">
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                                <strong class="ms-1"><a href="{{ path('user_stream', {'user_nick':user.nick|lower}) }}">{{ userName }}</a>
                                                                                    {% if user.verification == 1 %}
                                                                                        <span class="icon verification" title="Konto zweryfikowane"></span>
                                                                                    {% endif %}
                                                                                </strong>
                                                                            </div>

                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}

                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                            {% if singlePost.idAuthor != globalIdUser %}
                                                <div class="col-6">
                                                    <div class="dropdown position-absolute top-0 end-0 rounded-top">
                                                        <a class="btn btn-post-more dropdown-toggle float-end" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"></a>
                                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                                                            <li><button class="dropdown-item" onclick="report({{ singlePost.idAuthor }}, {{ singlePost.id }})"><i class="fas fa-ban"></i>&nbsp; Zgłoś użytkownika</button></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="single-post main mt-3">
                                            <h2>{{ singlePost.title }}</h2>
                                            
                                            <p>{{ singlePost.text }}</p>
                                            
                                            {% if singlePost.urlVideo != "none" %}
                                                <video class="ratio ratio-16x9" controls>
                                                    <source src="/tmp/users/{{ singlePost.urlVideo }}" type="video/mp4">
                                                    Your browser does not support HTML video.
                                                </video>
                                            {% endif %}

                                            {% if singlePost.urlPhotos != "none" %}
                                                <div class="row photo-gallery">
                                                    <div class="col-12">
                                                        <a class="example-image-link" href="/tmp/users/{{ singlePost.urlPhotos }}" data-lightbox="example-set{{singlePost.id}}" data-title="">
                                                            <img class="example-image" src="/tmp/users/{{ singlePost.urlPhotos }}" alt=""/>
                                                        </a>
                                                    </div>
                                                </div>
                                            {% endif %}

                                            {% if singlePost.url != "none" %}
                                                <div class="row">
                                                    <div class="col-12">
                                                        <a class="example-image-link" href="{{singlePost.url}}" target="_blank" rel="nofollow">{{singlePost.url}}</a>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="main mt-3">
                                            <div class="hashtags">
                                                {% if tagsList %}
                                                    {% for tag in tagsList %}
                                                        {% if tag.idPost == singlePost.id %} 
                                                            {# Link do wpisów o takim samym hashtagu #}
                                                            <a href="{{ path('get_hashtag', {'hashtag_url':tag.tagUrl|lower}) }}" title="hashtag {{ tag.tagName }}">#{{ tag.tagName }}</a>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                            <div class="group mt-2">
                                                {% if groupsList %}
                                                    {% for group in groupsList %}
                                                        {% if group.idPost == singlePost.id %}
                                                            {# Link do wpisów o takim samej grupie #}
                                                            <a href="{{ path('get_group', {'group_url':group.groupUrl|lower}) }}" title="group {{ group.groupName }}"><i class="fas fa-users"></i> {{ group.groupName }}</a>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="date mt-3 pb-2">
                                            {{ singlePost.dateAdded }} · {{ singlePost.timeAdded }}
                                        </div>
                                        <div class="buttons mt-3">
                                            <ul class="nav nav-pills nav-fill">
                                                <li class="nav-item pe-2">
                                                    {% set voted = '' %}
                                                    {% if ratingList %}
                                                        {% for rating in ratingList %}
                                                            {% if rating.idPost == singlePost.id %}
                                                                {% if rating.idUser == app.user.id %}
                                                                    {% if rating.rating == 0 %}
                                                                        {% set voted = 'voted' %}
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                    <button type="button" id="btn_unlike_{{ singlePost.id }}" class="btn btn-unlike {{voted}}" onclick="rating({{ singlePost.id }}, 'unlike')" 
                                                    {% if userAccountActivation == 0 %}disabled{% endif %}>
                                                        <i class="far fa-thumbs-down"></i>
                                                        <span id="unlike_{{ singlePost.id }}">{{ singlePost.numberDislikes }}</span>
                                                    </button>
                                                </li>
                                                <li class="nav-item">
                                                    {% set voted = '' %}
                                                    {% if ratingList %}
                                                        {% for rating in ratingList %}
                                                            {% if rating.idPost == singlePost.id %}
                                                                {% if rating.idUser == app.user.id %}
                                                                    {% if rating.rating == 1 %}
                                                                        {% set voted = 'voted' %}
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                    <button type="button" id="btn_like_{{ singlePost.id }}" class="btn btn-like {{voted}}" onclick="rating({{ singlePost.id }}, 'like')" 
                                                    {% if userAccountActivation == 0 %}disabled{% endif %}>
                                                        <i class="far fa-thumbs-up"></i>
                                                        <span id="like_{{ singlePost.id }}">{{ singlePost.numberLikes }}</span>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="buttons mt-3">
                                            <div class="dropdown">
                                                <button class="btn btn-sm btn-share dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="fas fa-share-alt"></i> Udostępnij
                                                </button>
                                                <ul class="dropdown-menu text-center" aria-labelledby="dropdownMenu2">
                                                    <li>
                                                        <a href="https://www.facebook.com/sharer/sharer.php?u=https://azilla.pl{{ path('single_post', {'post_id':singlePost.id, 'post_title':singlePost.postUrl}) }}" target="_blank" rel="nofollow">
                                                            <button class="dropdown-item" type="button">
                                                                <i class="fab fa-facebook-f"></i> FACEBOOK
                                                            </button>
                                                        </a>
                                                    </li>
                                                    <li><hr class="dropdown-divider"></li>
                                                    <li>
                                                        <a href="https://twitter.com/intent/tweet?text=title&amp;url=https://azilla.pl{{ path('single_post', {'post_id':singlePost.id, 'post_title':singlePost.postUrl}) }}" target="_blank" rel="nofollow">
                                                            <button class="dropdown-item" type="button">
                                                                <i class="fab fa-twitter"></i> TWITTER
                                                            </button>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="comments_{{ singlePost.id }}" class="commentsBox">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="blog-comment">
                                                    <h6><i class="far fa-comments"></i> Komentarze <small>({{commentsListCount}})</small></h6>
                                                    <hr/>
                                                    {% if userAccountActivation == 0 %}
                                                        <div class="alert alert-normal" role="alert">
                                                            <span class="alert-text">{{ 'Aby móc oceniać i dodawać komentarze musisz aktywować swoje konto.' | trans }}</span>
                                                        </div>
                                                    {% else %}
                                                        <form enctype="multipart/form-data" action="{{ path('single_post', {'post_id':singlePost.id, 'post_title':singlePost.postUrl}) }}" method="POST">
                                                            <div class="row create-comment">
                                                                <div class="col-md-12">
                                                                    <div class="mb-3">
                                                                        <label for="message_body_0" class="form-label">Wpisz swój komentarz</label>
                                                                        <textarea id="message_body_0" name="formMessage" class="form-control rounded-3" style="height: 100px" minlength="1" onkeyup="checkWordLen(this, 0);"></textarea>
                                                                        <span class="words-info words-left-0">279 słów pozostało</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12 text-center">
                                                                    <button class="btn btn-sm btn-go btn-block rounded-pill" type="submit" name="sendComment">Dodaj komentarz</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    {% endif %}

                                                    {% if commentsList %}

                                                        <hr/>
                                                        <ul class="comments">

                                                            {% for comment in commentsList %}

                                                                {% if comment.idParent == "NULL" %}

                                                                    <li id="comment_{{comment.id}}" class="clearfix">
                                                                        
                                                                        {% if usersList %}
                                                                            {% for user in usersList %}
                                                                                    {% if user.id == comment.idAuthor %}

                                                                                        {% if usersSettings %}
                                                                                            {% for settings in usersSettings %}
                                                                                                {% if settings.idUser == comment.idAuthor %}

                                                                                                    {% if settings.avatar == "null" %}
                                                                                                        {% set avatarUrl = "../tmp/images/basic_avatar.png" %}
                                                                                                    {% else %}
                                                                                                        {% set avatarUrl = "../tmp/users/" %}
                                                                                                        {% set avatarUrl = avatarUrl ~ settings.avatar %}
                                                                                                    {% endif %}

                                                                                                    <div class="_2jJNpBqXMbbyOiGCElTYxZ" style="position: absolute;">
                                                                                                        <div class="_2E_zUw3OUkCKUFrIQwE894" href="/u/angir777">
                                                                                                            <div class="efdkOLo3oigH_95whTYCp">
                                                                                                                <div class="_1cyAeeYDGrx7MPL_jRwKZ _1cvAFWcyUe8hsdIpCmJP0W">
                                                                                                                    <div class="_2_QqG5dG916znjlVV8ZCbw"></div>
                                                                                                                    <div class="_1XJXnCAngvZLEeLpB3oa4L">
                                                                                                                        <img alt="User avatar" class="ScrrUjzznpAqm92uwgnvO" src="{{avatarUrl}}">
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>  

                                                                                                {% endif %}
                                                                                            {% endfor %}
                                                                                        {% endif %}

                                                                                    {% endif %}
                                                                            {% endfor %}
                                                                        {% endif %}

                                                                        <div class="post-comments">
                                                                            <p class="meta">
                                                                                {% set userName, userSurname, userNick = "", "", "" %}
                                                                                {% if usersList %}
                                                                                    {% for user in usersList %}
                                                                                            {% if user.id == comment.idAuthor %}

                                                                                                {% if usersSettings %}
                                                                                                    {% for settings in usersSettings %}
                                                                                                        {% if settings.idUser == comment.idAuthor %}

                                                                                                                {% if settings.nickShow == 1 %}
                                                                                                                    
                                                                                                                    {% set userName, userSurname = user.name, user.surname %}
                                                                                                                    <a href="{{ path('user_stream', {'user_nick':user.nick|lower}) }}" class="author">
                                                                                                                        <strong>{{ user.name }} {{ user.surname }}{% if user.verification == 1 %}<span class="icon verification" title="Konto zweryfikowane"></span>{% endif %}</strong>
                                                                                                                    </a>

                                                                                                                {% else %}
                                                                                                                    
                                                                                                                    {% set userName = user.nick %}
                                                                                                                    <a href="{{ path('user_stream', {'user_nick':user.nick|lower}) }}" class="author">
                                                                                                                        <strong>{{ user.nick }}{% if user.verification == 1 %}<span class="icon verification" title="Konto zweryfikowane"></span>{% endif %}</strong>
                                                                                                                    </a>

                                                                                                                {% endif %}

                                                                                                        {% endif %}
                                                                                                    {% endfor %}
                                                                                                {% endif %}

                                                                                            {% endif %}
                                                                                    {% endfor %}
                                                                                {% endif %}
                                                                                {% if userAccountActivation == 1 %}
                                                                                    <button class="float-end btn btn-sm btn-reply" onclick="createReply({{comment.id}})">
                                                                                        <i class="fas fa-undo"></i> Odpowiedz
                                                                                    </button>
                                                                                {% endif %}
                                                                                {% if usersList %}
                                                                                    {% for user in usersList %}
                                                                                        {% if user.id == userId %}
                                                                                            {% if userId == comment.idAuthor %}
                                                                                                <button class="me-2 float-end btn btn-sm btn-delete" onclick="deleteComment({{comment.id}})">
                                                                                                    <i class="far fa-trash-alt"></i> Usuń
                                                                                                </button>
                                                                                            {% endif %}
                                                                                        {% endif %}
                                                                                    {% endfor %}
                                                                                {% endif %}

                                                                                <br><i><small>{{comment.date}}</small></i>
                                                                            </p>
                                                                            <p id="comment_text_{{comment.id}}">
                                                                                {{comment.content}}
                                                                            </p>
                                                                            <div id="sumcomment_{{comment.id}}" class="create-comment" style="display : none">
                                                                                {% if userAccountActivation == 1 %}
                                                                                    <form enctype="multipart/form-data" action="{{ path('single_post', {'post_id':singlePost.id, 'post_title':singlePost.postUrl}) }}" method="POST">
                                                                                        <div class="row">
                                                                                            <div class="col-md-12">
                                                                                                <div class="mb-3">
                                                                                                    <label for="message_body_{{comment.id}}" class="form-label">Wpisz swój komentarz</label>
                                                                                                    <textarea id="message_body_{{comment.id}}" name="formMessage" class="form-control rounded-3" style="height: 100px" minlength="10" onkeyup="checkWordLen(this, {{comment.id}});">@{{userName}} {{userSurname}} {{userNick}} </textarea>
                                                                                                    <span class="words-info words-left-{{comment.id}}">279 słów pozostało</span>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-md-12 text-center">
                                                                                                <button class="btn btn-sm btn-go btn-block rounded-pill" type="submit" name="sendSubComment" value="{{comment.id}}/{{comment.idAuthor}}">Dodaj komentarz</button>
                                                                                            </div>
                                                                                        </div>
                                                                                    </form>
                                                                                {% endif %}
                                                                            </div>
                                                                            <div class="score">
                                                                                {% set countCommentScore = 0 %}
                                                                                {% set userRatingDislike = "" %}
                                                                                {% set userRatingLike = "" %}
                                                                                {% set countDislikes = 0 %}
                                                                                {% set countLikes = 0 %}
                                                                                {% if ratingCommentList %}
                                                                                    {% for ratingComment in ratingCommentList %}
                                                                                        {% if ratingComment.idComment == comment.id %}

                                                                                            {% if ratingComment.idUser == userId %}
                                                                                                {% set userRating = ratingComment.rating %}
                                                                                                {% if userRating == 0 %}
                                                                                                    {% set userRatingDislike = "active" %}
                                                                                                {% else %} 
                                                                                                    {% set userRatingLike = "active" %}
                                                                                                {% endif %}
                                                                                            {% endif %}

                                                                                            {# - #}
                                                                                            {% if ratingComment.rating == 0 %}
                                                                                               {% set countDislikes = countDislikes + 1 %} 
                                                                                            {% endif %}
                                                                                            {# + #}
                                                                                            {% if ratingComment.rating == 1 %}
                                                                                               {% set countLikes = countLikes + 1 %} 
                                                                                            {% endif %}
                                                                                        {% endif %}
                                                                                    {% endfor %}
                                                                                    {# count score #}
                                                                                    {% set countCommentScore = countLikes - countDislikes %}
                                                                                {% endif %}
                                                                                {% if userAccountActivation == 1 %}
                                                                                    <button id="csdl_{{comment.id}}" class="btn btn-sm btn-score comment-rating-dislike {{userRatingDislike}}" onclick="rating({{comment.id}}, 'dislikecomment')"><i class="fas fa-minus"></i></button>
                                                                                {% endif %}
                                                                                    <span id="comment_score_{{comment.id}}" class="btn btn-score score-comment">{{countCommentScore}}</span>
                                                                                {% if userAccountActivation == 1 %}
                                                                                    <button id="csl_{{comment.id}}" class="btn btn-sm btn-score comment-rating-like {{userRatingLike}}" onclick="rating({{comment.id}}, 'likecomment')"><i class="fas fa-plus"></i></button>
                                                                                {% endif %}
                                                                            </div>
                                                                        </div>

                                                                        {% for comment2 in commentsList %}

                                                                            {% if comment2.idParent == comment.id %}
                                                                        
                                                                                <ul class="comments">
                                                                                    <li id="comment_{{comment2.id}}" class="clearfix">
                                                                                        
                                                                                        {% if usersList %}
                                                                                            {% for user in usersList %}
                                                                                                    {% if user.id == comment2.idAuthor %}

                                                                                                        {% if usersSettings %}
                                                                                                            {% for settings in usersSettings %}
                                                                                                                {% if settings.idUser == comment2.idAuthor %}

                                                                                                                    {% if settings.avatar == "null" %}
                                                                                                                        {% set avatarUrl = "../../tmp/images/basic_avatar.png" %}
                                                                                                                    {% else %}
                                                                                                                        {% set avatarUrl = "../../tmp/users/" %}
                                                                                                                        {% set avatarUrl = avatarUrl ~ settings.avatar %}
                                                                                                                    {% endif %}

                                                                                                                    <div class="_2jJNpBqXMbbyOiGCElTYxZ" style="position: absolute;">
                                                                                                                        <div class="_2E_zUw3OUkCKUFrIQwE894" href="/u/angir777">
                                                                                                                            <div class="efdkOLo3oigH_95whTYCp">
                                                                                                                                <div class="_1cyAeeYDGrx7MPL_jRwKZ _1cvAFWcyUe8hsdIpCmJP0W">
                                                                                                                                    <div class="_2_QqG5dG916znjlVV8ZCbw"></div>
                                                                                                                                    <div class="_1XJXnCAngvZLEeLpB3oa4L">
                                                                                                                                        <img alt="User avatar" class="ScrrUjzznpAqm92uwgnvO" src="{{avatarUrl}}">
                                                                                                                                    </div>
                                                                                                                                </div>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </div>

                                                                                                                {% endif %}
                                                                                                            {% endfor %}
                                                                                                        {% endif %}

                                                                                                    {% endif %}
                                                                                            {% endfor %}
                                                                                        {% endif %}

                                                                                        <div class="post-comments">
                                                                                            <p class="meta">
                                                                                                {% set userName, userSurname, userNick = "", "", "" %}
                                                                                                {% if usersList %}
                                                                                                    {% for user in usersList %}
                                                                                                            {% if user.id == comment2.idAuthor %}

                                                                                                                {% if usersSettings %}
                                                                                                                    {% for settings in usersSettings %}
                                                                                                                        {% if settings.idUser == comment2.idAuthor %}

                                                                                                                                {% if settings.nickShow == 1 %}
                                                                                                                                    
                                                                                                                                    {% set userName, userSurname = user.name, user.surname %}
                                                                                                                                    <a href="{{ path('user_stream', {'user_nick':user.nick|lower}) }}" class="author">
                                                                                                                                        <strong>{{ user.name }} {{ user.surname }}{% if user.verification == 1 %}<span class="icon verification" title="Konto zweryfikowane"></span>{% endif %}</strong>
                                                                                                                                    </a>

                                                                                                                                {% else %}
                                                                                                                                    
                                                                                                                                    {% set userName = user.nick %}
                                                                                                                                    <a href="{{ path('user_stream', {'user_nick':user.nick|lower}) }}" class="author">
                                                                                                                                        <strong>{{ user.nick }}{% if user.verification == 1 %}<span class="icon verification" title="Konto zweryfikowane"></span>{% endif %}</strong>
                                                                                                                                    </a>

                                                                                                                                {% endif %}

                                                                                                                        {% endif %}
                                                                                                                    {% endfor %}
                                                                                                                {% endif %}

                                                                                                            {% endif %}
                                                                                                    {% endfor %}
                                                                                                {% endif %}
                                                                                                {% if userAccountActivation == 1 %}
                                                                                                    <button class="float-end btn btn-sm btn-reply" onclick="createReply({{comment2.id}})">
                                                                                                        <i class="fas fa-undo"></i> Odpowiedz
                                                                                                    </button>
                                                                                                {% endif %}
                                                                                                {% if usersList %}
                                                                                                    {% for user in usersList %}
                                                                                                        {% if user.id == userId %}
                                                                                                            {% if userId == comment2.idAuthor %}
                                                                                                                <button class="me-2 float-end btn btn-sm btn-delete" onclick="deleteComment({{comment2.id}})">
                                                                                                                    <i class="far fa-trash-alt"></i> Usuń
                                                                                                                </button>
                                                                                                            {% endif %}
                                                                                                        {% endif %}
                                                                                                    {% endfor %}
                                                                                                {% endif %}

                                                                                                <br><i><small>{{comment2.date}}</small></i>
                                                                                            </p>
                                                                                            <p id="comment_text_{{comment2.id}}">
                                                                                                {{comment2.content}}
                                                                                            </p>
                                                                                            <div id="sumcomment_{{comment2.id}}" class="create-comment" style="display : none">
                                                                                                {% if userAccountActivation == 1 %}
                                                                                                    <form enctype="multipart/form-data" action="{{ path('single_post', {'post_id':singlePost.id, 'post_title':singlePost.postUrl}) }}" method="POST">
                                                                                                        <div class="row">
                                                                                                            <div class="col-md-12">
                                                                                                                <div class="mb-3">
                                                                                                                    <label for="message_body_{{comment2.id}}" class="form-label">Wpisz swój komentarz</label>
                                                                                                                    <textarea id="message_body_{{comment2.id}}" name="formMessage" class="form-control rounded-3" style="height: 100px" minlength="10" onkeyup="checkWordLen(this, {{comment2.id}});">@{{userName}} {{userSurname}} {{userNick}} </textarea>
                                                                                                                    <span class="words-info words-left-{{comment2.id}}">279 słów pozostało</span>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="col-md-12 text-center">
                                                                                                                <button class="btn btn-sm btn-go btn-block rounded-pill" type="submit" name="sendSubSubComment" value="{{comment.id}}/{{comment2.idAuthor}}">Dodaj komentarz</button>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </form>
                                                                                                {% endif %}
                                                                                            </div>
                                                                                            <div class="score">
                                                                                                {% set countCommentScore = 0 %}
                                                                                                {% set userRatingDislike = "" %}
                                                                                                {% set userRatingLike = "" %}
                                                                                                {% set countDislikes = 0 %}
                                                                                                {% set countLikes = 0 %}
                                                                                                {% if ratingCommentList %}
                                                                                                    {% for ratingComment in ratingCommentList %}
                                                                                                        {% if ratingComment.idComment == comment2.id %}

                                                                                                            {% if ratingComment.idUser == userId %}
                                                                                                                {% set userRating = ratingComment.rating %}
                                                                                                                {% if userRating == 0 %}
                                                                                                                    {% set userRatingDislike = "active" %}
                                                                                                                {% else %} 
                                                                                                                    {% set userRatingLike = "active" %}
                                                                                                                {% endif %}
                                                                                                            {% endif %}

                                                                                                            {# - #}
                                                                                                            {% if ratingComment.rating == 0 %}
                                                                                                               {% set countDislikes = countDislikes + 1 %} 
                                                                                                            {% endif %}
                                                                                                            {# + #}
                                                                                                            {% if ratingComment.rating == 1 %}
                                                                                                               {% set countLikes = countLikes + 1 %} 
                                                                                                            {% endif %}
                                                                                                        {% endif %}
                                                                                                    {% endfor %}
                                                                                                    {# count score #}
                                                                                                    {% set countCommentScore = countLikes - countDislikes %}
                                                                                                {% endif %}
                                                                                                {% if userAccountActivation == 1 %}
                                                                                                    <button id="csdl_{{comment2.id}}" class="btn btn-sm btn-score comment-rating-dislike {{userRatingDislike}}" onclick="rating({{comment2.id}}, 'dislikecomment')"><i class="fas fa-minus"></i></button>
                                                                                                {% endif %}
                                                                                                <span id="comment_score_{{comment2.id}}" class="btn btn-score score-comment">{{countCommentScore}}</span>
                                                                                                {% if userAccountActivation == 1 %}
                                                                                                    <button id="csl_{{comment2.id}}" class="btn btn-sm btn-score comment-rating-like {{userRatingLike}}" onclick="rating({{comment2.id}}, 'likecomment')"><i class="fas fa-plus"></i></button>
                                                                                                {% endif %}
                                                                                            </div>
                                                                                        </div>
                                                                                    </li>
                                                                                </ul>

                                                                           {% endif %}

                                                                        {% endfor %}

                                                                    </li>

                                                                {% endif %}

                                                            {% endfor %}

                                                        </ul>

                                                    {% else %}

                                                    {% endif %}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="alert alert-normal" role="alert">
                                        <span class="alert-text">{{ 'Masz zablokowanego tego użytkownika lub ten post zawiera treść spoiler/nsfw, które masz aktualnie wyłączone.' | trans }}</span>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-lg-4 mb-4 order-sm-frist order-lg-last">
                        {% block ad_1 %}{{ parent() }}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalRating" role="dialog">
        <div id="modal-dialog" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <img class="_2bLCGrtCCJIMNCZgmAMZFM img-transparent" src="../tmp/images/basic_avatar.png">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h3>HEY!</h3>
                            {% if usersList %}
                                {% for user in usersList %}
                                    {% if user.id == globalIdUser %}
                                        {% if user.sex == 0 %}
                                            <h5>Już głosowałeś!</h5>
                                        {% else %}
                                            <h5>Już głosowałaś!</h5>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>          
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalReport" role="dialog">
        <div id="modal-dialog" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <img class="_2bLCGrtCCJIMNCZgmAMZFM img-transparent" src="../tmp/images/basic_avatar.png">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h5>Przyjeliśmy zgłoszenie!</h5>
                        </div>
                    </div>          
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    
    {{ parent() }}

    <!-- rating -->
    <script>
        function rating(post_id, type) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if(this.readyState == 4 && this.status == 200){
                    if(xhttp.responseText != "none"){
                        if(type == 'like'){
                            document.getElementById(type+'_'+post_id).innerHTML = xhttp.responseText;
                            document.getElementById('btn_'+type+'_'+post_id).style.background='#67b8ff';
                        }else if(type == 'unlike'){
                            document.getElementById(type+'_'+post_id).innerHTML = xhttp.responseText;
                            document.getElementById('btn_'+type+'_'+post_id).style.background='#ff5148';
                        }else if(type == 'dislikecomment'){
                            document.getElementById('comment_score_'+post_id).innerHTML = xhttp.responseText;
                            document.getElementById('csdl_'+post_id).style.background='#ff5148';
                        }else if(type == 'likecomment'){
                            document.getElementById('comment_score_'+post_id).innerHTML = xhttp.responseText;
                            document.getElementById('csl_'+post_id).style.background='#67b8ff';
                        }
                    }else{
                        $('#modalRating').modal('show');
                        setTimeout(function() {$('#modalRating').modal('hide');}, 2000);
                    }
                }
            }
            // generate url path - in future chceck to use with FOSJsRoutingBundle
            {% set h1 = '0' %}
            {% set h2 = 'like' %}
            var url = "{{ path('rating_system', {'post_id':h1, 'type':h2}) }}"; 
            url = url.replace("0", post_id);
            url = url.replace("like", type);
            // ajax send
            xhttp.open("GET", url);
            xhttp.send();
        }
    </script>
    <!-- comment -->
    <script>function createReply(poz) {var x = document.getElementById("sumcomment_"+poz);if(x.style.display === "none"){x.style.display = "block";}else{x.style.display = "none";}}</script>
    <!-- delete comment -->
    <script type="text/javascript">
        function deleteComment(comment_id){
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function(){
                if (this.readyState == 4 && this.status == 200){
                    var x = document.getElementById("comment_text_"+comment_id);
                    if(xhttp.responseText != "none"){
                        x.innerHTML = "Komentarz został usunięty przez użytkownika";
                    }
                }
            }
            // generate url path - in future chceck to use with FOSJsRoutingBundle
            {% set h1 = '0' %}
            var url = "{{ path('delete_comment', {'comment_id':h1}) }}"; 
            url = url.replace("0", comment_id);
            // ajax send
            xhttp.open("GET", url);
            xhttp.send();
        }
    </script>

{% endblock %}